body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .navbar{
  height:5rem;
} */
 .nav-item{
  font-weight:400;
 }
 .nav-link{
  font-size:1.35rem;
  font-weight:470;
 }
 .foot-a a{
   font-size:1.40rem;
   text-decoration:none;
   color:#888888;
   font-weight:470;
   /* margin-bottom:4rem; */
   /* padding:1rem; */
 }
  .foot-a p{
    font-size:1.38rem;
    font-weight:450;
  }
  .footer-end p{
    text-align:center;
  }
  .icons-demo i{
   font-size:1.55rem;
   padding-right: 3rem;
   padding-top:1.69rem;
   text-align:center;
   color:gray;
  }
  .about-p p{
    font-size:1.35rem;
    line-height:2.1rem;
    padding:0.25rem;
    font-weight:450;
  }
  .left-about-p p{
    padding-right:10rem;
  }
  .team-p p{
   font-size:1.23rem;
  }
  .team-p p a{
   text-decoration:none;
  }